# used in "bun run update:test" and "bun run update:mock"
NODE_ENV="test"
# optiopnal, used for crossposting messages
bot_token="Bot ................."
# all values below are optional, they are overrides for the base .env file
code_webhook="https://discord.com/api/webhooks/.../......"
color_webhook="https://discord.com/api/webhooks/.../......"
icons_webhook="https://discord.com/api/webhooks/.../......"